
<html lang="en" dir="ltr">
<head>
	
<style>
.results{
	background-color: black;
	width: 100%;
}
h4{
	background-color: aliceblue;
	font-family:Cursive;
}
</style>
		<meta charset="utf-8">
		<title>NUTRITION IMAGE ANALYSIS</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	</head>

		<div class="results">
		        <p style="padding-top: 150px; color:rgb(234, 234, 242);">
					<h4 style="color:rgb(234, 234, 239);">-<h4><b><h4 style="color:rgb(20, 15, 15);">
						<u>{{showcase1}}<h4><br><h4 style="color:rgb(8, 4, 4);"><u>{{showcase}}<h4><h4 style="color:rgb(8, 4, 4);"><u>{{showcase}}<h4></p>
			
		</div>
		<br>
		<br>
       
    </div>
	</body>
</html>